<div class="container">
  <div class="center jumbotron">
   <h1 id = "logo">docs comm </h1>
   <br>
   <p>アカウントを登録して<br>他のユーザーにアンケートを<br>答えてもらおう</p>
   <br>
  
    <div class="row">
     <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
       <%= render 'shared/error_messages' %>

       <%= f.text_field :name,:placeholder => "お名前", class: 'form-control' %>
 
       <%= f.email_field :email,:placeholder => "メールアドレス", class: 'form-control' %>

       <%= f.password_field :password,:placeholder => "パスワード", class: 'form-control' %>

       <%= f.password_field :password_confirmation,:placeholder => "パスワード確認", class: 'form-control' %>
     <br>
     <div id = "signup">
       <%= f.submit "登録する", class: "btn btn-primary" %>
     </div>
     <br>
     <% end %>
     <br>
     </div>
    </div>
  </div>

  <div class="center jumbotron">
     <p>アカウントをお持ちですか？ <br><%= link_to "ログインする", root_path %></p>
 </div>
</div>
