<div class="container">
 <div class="row">
  <div class = "SNS">
   <%= link_to  "https://twitter.com/share?url=#{request.url}", 
                                title: 'Twitter', target: '_blank' do %>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
     <% end %> 
     <%= link_to  "https://line.me/R/msg/text/?#{request.url}", 
                                title: 'Line', target: '_blank' do %>
     Line
     <% end %> 
  </div> 
  <aside class="col-md-8">
    <section class="user_info">
   
     
      <h1>
      <% if @user.image? %>
       <%= image_tag @user.image.url, :size =>'150x150' %>
      <% else %>
       <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
      <% end %>
       <%= @user.name %>
      </h1>
      <span class="introduction">
        <br>
        <%= @user.introduction %>
      </span>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>投稿 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
 </div>
</div>