<div class="container">
 <div class="row">
  <aside class="col-md-8">
    <section class="user_info">
     
     <%= link_to  "https://twitter.com/share?url=#{request.url}", class: "SNS",
                                title: 'Twitter', target: '_blank' do %>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
     <% end %> 
     
     <script language="JavaScript">
      function line_button_tag(){
       var tag= "<div class='line-it-button' data-lang='ja' data-type='share-a' data-ver='2' data-url='{0}' style='display: none;'></div>";
       tag = tag.replace(/\{0\}/g, location.href);
       return tag;
      }
     </script>
     <script language="JavaScript">document.write(line_button_tag());</script>

     <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
     
      <h1>
      <% if @user.image? %>
       <%= image_tag @user.image.url, :size =>'150x150' %>
      <% else %>
       <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
      <% end %>
       <%= @user.name %>
      </h1>
      <span class="introduction">
        <br>
        <%= @user.introduction %>
      </span>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>投稿 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
 </div>
</div>