<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_area :content, class: "field",  placeholder: "https://docs.google.com/forms/d/e/1FAIpQLS..." %>
  </div>
  <div class = "micropost_sex">
   <%= f.select :micropost_sex,  [["男性に向けて送信", "man"], ["女性に向けて送信", "woman"],["分からない人に向けて送信","nonsex"]], 
                                  include_blank: "全員に送信"%>
   <%= link_to"使い方", how_path, data: {"turbolinks" => false} %>
  </div>
  <div>
    <%= f.button :type => "submit", id: "icon-submit", class: "btn btn-primary" do %>
    <i class="far fa-paper-plane"></i>
    <% end %>
  </div>

<% end %>

 