<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><iframe id="forms" width="500" height="490" frameborder="no" src=<%= micropost.content %>></iframe></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to micropost, method: :delete,
                                       data: { confirm: "削除してもよろしいですか" } do %>
      <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </span>
</li>
