 <div class="container"> 
   <ol class="microposts">
     <%= link_to  "https://twitter.com/share?url=#{request.url}", class: "SNS",
                                title: 'Twitter', target: '_blank' do %>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
     <% end %> 
     <%= link_to  "https://line.me/R/msg/text/?#{request.url}", class: "SNS",
                                title: 'Line', target: '_blank' do %>
     Line
     <% end %> 
     <%= render @micropost %>
   </ol>
   <h2>コメント</h2>
    <hr>
<% if !@micropost.comments.any? %>
    <h2>コメントはありません</h2>
<% end %>    
<!--@article.commentsで該当する記事のコメント一覧を取得-->
 <% @micropost.comments.each do |comment| %>
    <p>タイトル</p>
    <p><%= comment.title %></p>
    <p>内容</p>
    <p><%= comment.content %></p>
    <!--article_comment_pathヘルパーには親(micropost)と子(comment)を両方渡す-->
    <p><%= link_to micropost_comment_path(@micropost,comment),
                          method: :delete,data: {confirm: '削除してもよろしいですか？'} do %>
        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
       <% end %>                  
    </p>

<% end %>
    <hr>
<!--引数の順番は親、子-->
<%= form_for ([@micropost,@comment]) do |f| %>
    <%= render 'shared/error_messages',object: f.object %>
    <p>
        <%= f.text_field :title,:placeholder => "タイトルを入力" %><br/>
    </p>
    <p>
        <%= f.text_area :content,:placeholder => "コメントを入力" %><br/>
    </p>
    <p>
       <%= f.submit "送信" %>
    </p>
<% end %>


</div>

 