<!DOCTYPE html>
<html>
  <head>
    <title>docs_comm</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    
    <% unless non_header? %>
    <%= debug(params) if Rails.env.development? %>
    <% end %>
    
    <% flash.each do |message_type, message|%>
     <div class = "alert alert-<%= message_type%>"><%=message %></div>
    <% end %>
　　<% if !non_header? %>   
   　 　<%= render 'layouts/header' %>
  　<% end %>  
     
    
    <%= yield %>
   
    <%= render 'layouts/footer' %>  
  
  <%= debug(params) if Rails.env.development? %>
  </body>
</html>